In [1]:
import pandas as pd

### Creating a basic dataframe

In [6]:
data_set = {
    'classes':['Math', 'Music', 'History'],
    'grades':[5,4,5]
}

In [7]:
var = pd.DataFrame(data_set)
print(var)

   classes  grades
0     Math       5
1    Music       4
2  History       5

### Series

In [10]:
data = [3, 5, 7]
x = pd.Series(data, index=['x', 'y', 'z'])
print(x)

x    3
y    5
z    7
dtype: int64

In [11]:
data = {'x': 3, 'y': 5, 'z': 7}
x = pd.Series(data)
print(x)

x    3
y    5
z    7
dtype: int64

#### Including only specified items

In [12]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

# DataFrames

#### A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [13]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

##### Load the data into the DataFrame object

In [14]:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

### Locate Row

In [16]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

##### This return a series object

In [17]:
print(df.loc[[1, 2]])

   calories  duration
1       380        40
2       390        45

##### This returns a DataFrame object

### Naming the indexes

In [18]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [21]:
print(df.loc['day2'])

calories    380
duration     40
Name: day2, dtype: int64